<h1>All bookings</h1>
<%= form_with url: bookings_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    placeholder: "Find a booking" %>
  <%= submit_tag "Search" %>
<% end %>
<ul>
  <% @bookings.each do |booking| %>
    <li>
      <%= link_to "Trip to #{booking.planet.name} onboard the #{booking.spaceship.name}", booking_path(booking) %>
    </li>
  <% end %>
</ul>
