<h1>All bookings</h1>
<div data-controller="search-bookings">
  <%= form_with url: bookings_path, method: :get,
    data: {
      search_bookings_target: "form",
      # action: "submit->search-bookings#send"
    } do %>
    <%= text_field_tag :query,
      params[:query],
      placeholder: "Find a booking",
      data: {
        search_bookings_target: "searchInput",
        action: "keyup->search-bookings#update"
      } %>
  <% end %>
  <%= render 'searchlist', bookings: @bookings %>
</div>
