<h1>All bookings</h1>
<ul>
  <% @bookings.each do |booking| %>
    <li>
      <%= link_to "Trip to #{booking.planet.name} onboard the #{booking.spaceship.name}", booking_path(booking) %>
    </li>
  <% end %>
</ul>
