<h1><%= "Your trip to #{@booking.planet.name} onboard #{@booking.spaceship.name}"%></h1>
<% if policy(@booking).edit? %>
  <%= link_to "Update your trip", edit_booking_path(@booking) %>
<% end %>
<% if policy(@booking).destroy? %>
  <%= link_to "Cancel this trip",
    destroy_booking_path(@booking),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
<% end %>
